body {
	padding: 0;
	margin: 0 !important;
	background-color: #000 !important;
	color: #ffffff !important;
}

.color__background--primary {
	background-color: #FF3802 !important;
}


div.widget-matchdetail__navtab-container__navtab-top-left .nav-tabs {
	background: #000000 !important;
	border-bottom: 0 !important;
}

div.widget-matchdetail__navtab-container__navtab-top-left .nav-tabs li.tab {
	background: #000000 !important;
    border: 0 !important;
    color: #ffffff !important;
}

div.widget-matchdetail__navtab-container__navtab-top-left .nav-tabs li.tab a {
	text-shadow: none !important;
    color: #ffffff !important;
}

div.widget-matchdetail__navtab-container__navtab-top-left .nav-tabs li.tab.active {
	border-bottom: 3px solid #FF3802 !important;
}

table .color__text {
	color: #ffffff !important;
}

.widget-sportstandings .dynamic-table__head__row__cell, 
.widget-sportstandings .dynamic-table__body__row__cell,
.matchdetail-person-statistics__statistics__table .dynamic-table__body__row__cell
{
	background-color: #000000 !important;
	color: #ffffff !important;
}

table thead tr th {
	background-color: #FF3802 !important;
	color: #FFF !important;
}