body {
	padding: 0;
	margin: 0 !important;
	background-color: #000;
	color: #ffffff;
}
.header-title {
	background-color: #FF3802;
	border: 0;
}

.phase-header {
	border-bottom: 0 !important;
}

.header-title .arrow-prev {
	z-index: 99999 !important;
}

.sub-header-title {
	background-color: #212121 !important;
	border: 0;
}

.active-phase span {
	color: #ffffff;
}

.block-spacer {
	background: #000 !important;
	border: 0 !important;
	height: 0 !important;
}