body {
	padding: 0;
	margin: 0 !important;
	background-color: #000 !important;
	color: #ffffff !important;
}

.color__background--primary {
	background-color: #FF3802 !important;
}


div.widget-matchdetail__navtab-container__navtab-top-left .nav-tabs {
	background: #000000 !important;
	border-bottom: 0 !important;
}

div.widget-matchdetail__navtab-container__navtab-top-left .nav-tabs li.tab {
	background: #000000 !important;
    border: 0 !important;
    color: #ffffff !important;
}

div.widget-matchdetail__navtab-container__navtab-top-left .nav-tabs li.tab a {
	text-shadow: none !important;
    color: #ffffff !important;
}

div.widget-matchdetail__navtab-container__navtab-top-left .nav-tabs li.tab.active {
	border-bottom: 3px solid #FF3802 !important;
}