body {
	padding: 0;
	margin: 0 !important;
	background-color: #000;
}
.header-title {
	background-color: #FF3802;
}

.header-title .arrow-prev {
	z-index: 99999 !important;
}

.sub-header-title {
	background-color: #808080 !important;
}