body {
	background-color: #000000;
	color: #ffffff;
	font-family: 'Helvetica', sans-serif;
}

.color__background--primary {
	background-color: #000000; 
}

.color__text--primary--light {
	color: #ffffff; 
}

.color__background--tertiary {
	background-color: #ffffff; 
}
.color__background--tertiary--opacity--10 {
	background-color: rgba(255, 255, 255, 0.1); 
}

.color__fill--primary--light {
	fill: #ffffff; 
}

.color__text {
   color: #ffffff; 
}
.color__text--hover:hover {
   color: #ffffff; 
}
.color__text--active:active {
     color: #ffffff; 
 }

.color__text--focus:focus {
   color: #ffffff; 
}

.color__text--visited:visited {
   color: #ffffff; 
}

.color__background {
   background-color: #000000; 
}

.color__border {
   border-color: #e2e5e9; 
}

.color__fill {
   fill: #ffffff; 
}

.color__text--secondary {
   color: #858f9a; 
}
.color__text--secondary--hover:hover {
   color: #858f9a; 
}
.color__text--secondary--active:active {
   color: #858f9a; 
}
.color__text--secondary--focus:focus {
   color: #858f9a; 
}
.color__text--secondary--visited:visited {
   color: #858f9a; 
}

.color__background--secondary {
   background-color: #0c0c0c;
}

.color__border--secondary {
   border-color: #d6dadf; 
}

.color__fill--secondary {
     fill: #858f9a; 
 }

.color__background--gold {
   background-color: #f0c94b; 
}

.color__background--silver {
   background-color: #b2bbc5; 
}
.color__background--bronze {
   background-color: #d6a96c; 
}

.color__border--gold {
   border-color: #f0c94b; 
}

.color__border--silver {
   border-color: #b2bbc5; 
}

.color__border--bronze {
   border-color: #d6a96c; 
}

.color__fill--gold {
   fill: #f0c94b; 
}
.color__fill--silver {
   fill: #b2bbc5; 
}
.color__fill--bronze {
   fill: #d6a96c; 
}
.color__text--cta {
   color: #ff0042; 
}

.color__text--cta--secondary {
   color: #35c29b; 
}

.color__border--cta {
   border-color: #ff0042; 
}

.color__border--cta--secondary {
   border-color: #35c29b; 
}

.color__fill--cta {
   fill: #ff0042; 
}

.color__fill--cta--secondary {
   fill: #35c29b; 
}

.color__text--light {
   color: white; 
}

.color__border--light {
   border-color: white; 
}

.color__fill--light {
   fill: white; 
}

.color__background--dark {
   background-color: #0a091c; 
}

.color__border--dark {
   border-color: #0a091c; 
}

.color__background--transparent {
   background-color: transparent; 
}

.color__border--transparent {
   border-color: transparent; 
}

.color__text--tertiary {
   color: #b2bbc5; 
}

.color__border--secondary--light {
   border-color: #b2bbc5; }


.color__border--secondary--light--before::before {
   border-color: #b2bbc5; 
}
.color__border--secondary--light--after::after {
   border-color: #b2bbc5; 
}

.color__border--secondary--dark {
   border-color: #e2e5e9; 
}

.color__border--tertiary {
	border-color: #858f9a; 
}

.widget-eventstandings .dynamic-table__head__row__cell {
	 background-color: #000000 !important;
    color: #ffffff !important;
}

.widget-eventstandings .dynamic-table__head__row__cell, .widget-eventstandings .dynamic-table__body__row__cell {
	background-color: #000000 !important;
    color: #ffffff !important;
}

.widget-eventstandings .white-header {
	text-align: center;
}

.dynamic-table__body__row__cell.imageparticipant-column .image-participant__participant {
	color: #bfc0c1;
}

.dynamic-table--fixed .fixed-column--last:after {
	display: none !important;
}

tbody .color__border {
	border-color: #000000;
	border: 0 none !important;
}

.widget-teamroster__squad__member,
.widget-athleteprofile__info {
   background-color: #000;
   border: 1px solid #fff;
}