body {
	padding: 0;
	margin: 0 !important;
	background-color: #000000 !important;
	color: #FFFFFF !important;
}

.event-container__header--athlete-header, .event-container__header--athlete-header .event-container__header {
	background-color: #000000 !important;
	color: #FFFFFF !important;
	border-bottom: 1px solid #ffffff;
}

.color__fill, .color__text {
	color: #FFFFFF !important;
}

.color__background {
	background-color: #000000 !important;
	color: #FFFFFF !important;
}
.selected-day__date__toggle-icon,
.selected-day__date__toggle-icon.color__fill {
	color: #FFFFFF !important;
}

.color__background--primary {
    background-color: #000;
    border-bottom: 1px solid #ffffff;
}

.color__background--secondary {
    background-color: #333333 !important;
}

.widget-eventstandings .dynamic-table__head__row__cell {
	 background-color: #000000 !important;
    color: #ffffff !important;
}

.widget-eventstandings .dynamic-table__head__row__cell, .widget-eventstandings .dynamic-table__body__row__cell {
	background-color: #000000 !important;
    color: #ffffff !important;
}

.widget-eventstandings .white-header {
	text-align: center;
}

.dynamic-table__body__row__cell.imageparticipant-column .image-participant__participant {
	color: #bfc0c1;
}

.dynamic-table--fixed .fixed-column--last:after {
	display: none !important;
}