body {
  padding: 0;
  margin: 0 !important;
  background-color: #000;
  color: #ffffff;
}

.header-title,
.color__background--primary.header,
header .widget-matchdetail__header {
  /* to be replaced by $primary-color */
  background-color: #FF3802;
  border: 0;
}

.header-title h1,
.color__background--primary.header {
  /* to be replaced by $text-color */
  color: #ffffff;
}

.color__background--primary.header h2 {
  /* to be replaced by $text-color */
  color: #ffffff;
}

.lineup .list-items .list-item .coach {
  /* to be replaced by $primary-color */
  color: #FF3802;
}

table tr th {
  /* to be replaced by $primary-color */
  color: #FF3802;
  border-bottom: 0 !important;
}

select, select.dropdown__select {
  background-color: #000000;
  /* to be replaced by $primary-color */
  color: #FF3802 !important;
  border: 1px solid !important;
}

.phase-header {
  border-bottom: 0 !important;
}

a.standard-button {
  /* to be replaced by $primary-color; */
  background-color: #FF3802 !important;
  /* to be replaced by $text-color */
  color: #ffffff !important;
  border: 0 none !important;
  border-radius: 30px !important;
  -moz-border-radius: 30px !important;
}

.header-title .arrow-prev {
  z-index: 99999 !important;
  height: 50px !important;
  width: 80px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  top: 0 !important;
  left: 0 !important;
}

.sub-header-title, .sub-header-block {
  color: #bfc0c1 !important;
  background-color: #000000;
  border: 0;
}

.sub-header-title {
  color: #ffffff !important;
}

.active-phase span {
  color: #bfc0c1;
}

.block-spacer {
  background: #000 !important;
  border: 0 !important;
  height: 0 !important;
}

table tr td {
  color: #bfc0c1 !important;
  border-bottom: 0 !important;
}

table.zebra tr {
  background-color: #000000 !important;
}

.block-header {
  background: #404445 !important;
  color: #ffffff !important;
}

tr th.block-header {
  background: transparent !important;
  text-align: center;
  font-size: 12px;
}

.tab-wrapper {
  background: #000000 !important;
  border-bottom: 0 !important;
}

.tab-wrapper li.tab {
  background: #000000 !important;
  border: 0 !important;
  color: #ffffff !important;
}

.tab-wrapper li.tab a,
.nab.nav-tabs .tab.tab__inactive {
  text-shadow: none !important;
  color: #ffffff !important;
}

.tab-wrapper li.tab.active,
.nav.nav-tabs .tab.tab__active {
  /* to be replaced by $primary-color */
  border-bottom: 3px solid #FF3802 !important;
}

.match-timeline {
  background: #000000 !important;
}

.match-timeline .club-name {
  color: #ffffff !important;
}

.lineup .team-info {
  background-color: #000000 !important;
  color: #ffffff !important;
}

table thead.fixed-header,
.toplist-options {
  background-color: #000000 !important;
}

.sprite--schedule-prev-btn {
  background: url("../images/back.png") no-repeat scroll center center;
}

.sprite--schedule-next-btn {
  background: url("../images/next.png") no-repeat scroll center center;
}

.sprite--schedule-prev-btn,
.sprite--schedule-next-btn {
  background-size: contain;
}

.referee-and-attendance-info,
.first-leg-score {
  background-color: #000000 !important;
  border: 0 none !important;
}

.goalscorers tr:first-child td {
  border: 0 none !important;
}

.first-leg-score,
.referee-and-attendance-info.first-leg-score-available {
  border: 0 none;
}

.stats .stat-wrapper, .stat-pies .stat-wrapper {
  border-bottom: 0 !important;
}

.stat-wrapper {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.tab-wrapper.two-tabs, .tab-wrapper.three-tabs, .tab-wrapper.four-tabs {
  border: 0 none !important;
}

.stat-bar-a90 .stat-wrapper.border-top, .stat-bar-a90 .stat-wrapper.border-top:first-child,
.stats .stat-wrapper:first-child, .stat-pies .stat-wrapper:first-child {
  border-top: 0 none !important;
}

.lineup .team-info {
  border-bottom: 0 !important;
}

.block-formations {
  border-bottom: 0 !important;
}

.lineup .list-items .list-item {
  border-bottom: 0 !important;
}

.lineup .team-info.home.vertical-line,
.lineup .list-items.home.vertical-line {
  border-right: 0 !important;
}

.button-wrapper {
  background-color: #000000 !important;
  border-bottom: 0 !important;
}

@media (min-width: 600px) {
  .headtohead .one-half .team-form {
    border-right: 0 !important;
  }

  .headtohead .one-half .standing {
    border-left: 0 !important;
  }
}
.team-form {
  border-bottom: 0 !important;
}

.details .select-wrapper {
  border-bottom: 0 !important;
}

.standing-options {
  background: #000000 !important;
  border-bottom: 0 !important;
}

/* GSW */
.color__background--primary {
  background-color: #000000;
}

.color__text--primary--light {
  color: #ffffff;
}

.color__background--tertiary {
  background-color: #ffffff;
}

.color__background--tertiary--opacity--10 {
  background-color: rgba(255, 255, 255, 0.1);
}

.color__fill--primary--light {
  fill: #ffffff;
}

.color__text {
  color: #ffffff;
}

.color__text--hover:hover {
  color: #ffffff;
}

.color__text--active:active {
  color: #ffffff;
}

.color__text--focus:focus {
  color: #ffffff;
}

.color__text--visited:visited {
  color: #ffffff;
}

.color__background {
  background-color: #000000;
}

.color__border {
  border-color: #e2e5e9;
}

.color__fill {
  fill: #ffffff;
}

.color__text--secondary {
  color: #858f9a;
}

.color__text--secondary--hover:hover {
  color: #858f9a;
}

.color__text--secondary--active:active {
  color: #858f9a;
}

.color__text--secondary--focus:focus {
  color: #858f9a;
}

.color__text--secondary--visited:visited {
  color: #858f9a;
}

.color__background--secondary {
  background-color: #0c0c0c;
}

.color__border--secondary {
  border-color: #d6dadf;
}

.color__fill--secondary {
  fill: #858f9a;
}

.color__background--gold {
  background-color: #f0c94b;
}

.color__background--silver {
  background-color: #b2bbc5;
}

.color__background--bronze {
  background-color: #d6a96c;
}

.color__border--gold {
  border-color: #f0c94b;
}

.color__border--silver {
  border-color: #b2bbc5;
}

.color__border--bronze {
  border-color: #d6a96c;
}

.color__fill--gold {
  fill: #f0c94b;
}

.color__fill--silver {
  fill: #b2bbc5;
}

.color__fill--bronze {
  fill: #d6a96c;
}

.color__text--cta {
  color: #858f9a;
}

.color__text--cta--secondary {
  color: #35c29b;
}

.color__border--cta {
  border-color: #858f9a;
}

.color__border--cta--secondary {
  border-color: #35c29b;
}

.color__fill--cta {
  fill: #858f9a;
}

.results-detail-current-view--summer .results-detail-current-view__box-wrapper__current-box__player-info-wrapper__header, .results-detail-current-view--summer .results-detail-current-view__box-wrapper__leader-box__player-info-wrapper__header, .results-detail-current-view--summer .results-detail-current-view__box-wrapper__race-box__player-info-wrapper__header, .results-detail-current-view--winter .results-detail-current-view__box-wrapper__current-box__player-info-wrapper__header, .results-detail-current-view--winter .results-detail-current-view__box-wrapper__leader-box__player-info-wrapper__header, .results-detail-current-view--winter .results-detail-current-view__box-wrapper__race-box__player-info-wrapper__header {
  color: #858f9a !important;
}

.color__fill--cta--secondary {
  fill: #35c29b;
}

.color__text--light {
  color: white;
}

.color__border--light {
  border-color: white;
}

.color__fill--light {
  fill: white;
}

.color__background--dark {
  background-color: #0a091c;
}

.color__border--dark {
  border-color: #0a091c;
}

.color__background--transparent {
  background-color: transparent;
}

.color__border--transparent {
  border-color: transparent;
}

.color__text--tertiary {
  color: #b2bbc5;
}

.color__border--secondary--light {
  border-color: #b2bbc5;
}

.color__border--secondary--light--before::before {
  border-color: #b2bbc5;
}

.color__border--secondary--light--after::after {
  border-color: #b2bbc5;
}

.color__border--secondary--dark {
  border-color: #e2e5e9;
}

.color__border--tertiary {
  border-color: #858f9a;
}

.widget-eventstandings .dynamic-table__head__row__cell {
  background-color: #000000 !important;
  color: #ffffff !important;
}

.widget-eventstandings .dynamic-table__head__row__cell, .widget-eventstandings .dynamic-table__body__row__cell {
  background-color: #000000 !important;
  color: #ffffff !important;
}

.widget-eventstandings .white-header {
  text-align: center;
}

.dynamic-table__body__row__cell.imageparticipant-column .image-participant__participant {
  color: #bfc0c1;
}

.dynamic-table--fixed .fixed-column--last:after {
  display: none !important;
}

tbody .color__border {
  border-color: #000000;
  border: 0 none !important;
}

.widget-teamroster__squad__member,
.widget-athleteprofile__info {
  background-color: #000;
  border: 1px solid #fff;
}

.widget-sportstandings .dynamic-table__head__row__cell,
.widget-sportstandings__aligned-tables__fixed::after,
.widget-sportstandings__aligned-tables .white-header::after {
  background-color: #000000 !important;
}

.widget-sportstandings .dynamic-table__head__row__cell, .widget-sportstandings__aligned-tables__fixed::after, .widget-sportstandings__aligned-tables .white-header::after {
  display: none !important;
}

.color__background--secondary {
  background: #000000 !important;
}

.widget-sportstandings__switcher__event {
  border: 0 none !important;
  background: #000000 !important;
}

.stats .stat-wrapper .stats-bar, .stat-pies .stat-wrapper .stats-bar {
  background: #676767 !important;
}

.stats .stat-wrapper .stats-bar .stats-bar-filled, .stat-pies .stat-wrapper .stats-bar .stats-bar-filled {
  /* to be replaced by $primary-color */
  background: #FF3802 !important;
}

.matchdetail-person-statistics__statistics__table .dynamic-table__head__row__cell {
  background-color: #000000 !important;
}

.matchdetail-person-statistics__aligned-tables__fixed::after {
  display: none !important;
}

.matchdetail-person-statistics__statistics__table .dynamic-table__head__row__cell, .matchdetail-person-statistics__statistics__table .dynamic-table__body__row__cell {
  background-color: #000000 !important;
}

/*# sourceMappingURL=theme1.css.map */
